@model EventPlanner.Models.Events.EventsViewModel;

@{
	ViewData["Title"] = "Events";
}

<div class="events-container">
	<div class="events-search-bar">
		<div asp-validation-summary="ModelOnly"></div>
		<form asp-action="Search" asp-controller="Events" method="get">
			<div class="events-search-top">
				<input asp-for="SearchName" class="input-search-wide" placeholder="Name of the event" />

				<input asp-for="SearchCity" class="input-search" placeholder="Location" />

				<label asp-for="SearchDate.Options">Date:</label>
				<select asp-for="SearchDate.SelectedOption" asp-items="@Model.SearchDate.Options" class="input-search-select" placeholder="Date"></select>

				<label asp-for="SearchCategories">Category:</label>
				<select asp-for="SearchCategoryId" asp-items="@Model.SearchCategories" class="input-search-select" placeholder="Date">
				</select>

				<label asp-for="SearchEventTypes">Type:</label>
				<select asp-for="SearchEventTypeId" asp-items="@Model.SearchEventTypes" class="input-search-select">
				</select>
				<div class="events-search-button-container">
					<button type="submit"><img src="~/img/icons/search.svg" /></button>
				</div>
				<div class="events-search-bottom"></div>
			</div>
			
		</form>
	</div>
	<div class="events-gallery">
		@foreach (var item in Model.Events)
		{
			<a asp-controller="Event" asp-action="Index" asp-route-id=@item.Id class="event-container lazy">
				<div class="event-img-container">
					<img src="~/img/icons/event_large.svg" />
				</div>
				<div class="event-info">
					<div class="event-name b1-text">@item.Name</div>
					<div class="event-host"><img src="~/img/icons/person.svg"> @item.Author.FirstName @item.Author.LastName</div>
					<div class="event-date"><img src="~/img/icons/time.svg"> @item.DateTime</div>
				</div>
			</a>
		}
	</div>
</div>

@section Styles {
	<link href="@Url.Content("~/css/Views/EventsStyle.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
	<script src="~/lib/lazyloading/dist/lazyloading.js"></script>
}