@model EventPlanner.Models.Events.EventsViewModel;

@{
	ViewData["Title"] = "Events";
}

<div class="events-container">
	<div class="events-search-bar">
		<div asp-validation-summary="ModelOnly"></div>
		<form asp-action="Search" asp-controller="Events" method="get">
			<label asp-for="SearchName">Name</label>
			<input asp-for="SearchName" />

			<label asp-for="SearchCity">Location</label>
			<input asp-for="SearchCity" />

			<label asp-for="SearchDate">Date</label>
			<input asp-for="SearchDate" />

			<label asp-for="SearchCategories">Category</label>
			<select asp-for="SearchCategoryId" asp-items="@Model.SearchCategories">
			</select>

			<label asp-for="SearchEventTypes"></label>
			<select asp-for="SearchEventTypeId" asp-items="@Model.SearchEventTypes">
			</select>

			<div>
				<input type="submit" value="Search" />
			</div>
		</form>
	</div>
	<a asp-controller="Event" asp-action="Create" class="button-m1">Add new event</a>
	<div class="events-gallery">
		@foreach (var item in Model.Events)
		{
			<a asp-controller="Event" asp-action="Index" asp-route-id=@item.Id class="event-container lazy">
				<div class="event-img-container"></div>
				<div class="event-name">@item.Name</div>
				<div class="event-host">Hosted by: ...</div>
				<div class="event-date">@item.DateTime</div>
			</a>
		}
	</div>
</div>

@section Styles {
	<link href="@Url.Content("~/css/Views/EventsStyle.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
	<script src="~/lib/lazyloading/dist/lazyloading.js"></script>
}