@model InputUserModel

<div>
    <form asp-action="Index" method="post">
    <div>
        <label asp-for="@Model.UserName" ></label>
        <input asp-for="@Model.UserName" value="@Model.UserName"/>
        <span asp-validation-for="@Model.UserName"></span>
    </div>
        <div>
            <label asp-for="@Model.FirstName"></label>
            <input asp-for="@Model.FirstName" value="@Model.FirstName" />
            <span asp-validation-for="@Model.FirstName"></span>
        </div>
        <div>
            <label asp-for="@Model.LastName"></label>
            <input asp-for="@Model.LastName" value="@Model.LastName" />
            <span asp-validation-for="@Model.LastName"></span>
        </div>
        <div>
            <label asp-for="@Model.Password" ></label>
            <input asp-for="@Model.Password" />
            <span asp-validation-for="@Model.Password"></span>
        </div>
    </form>
    <button type="submit">Save</button>
</div>