@model SettingsVM;

<div class="profile-general-container">
	<partial name="_ProfileNavbar" />
	<div class="profile-settings-container">
		<a asp-action="Delete" asp-controller="Account">Delete account</a>
		<div>Account status: @if (@Model.AccountHidden == true)
			{
				<div>Hidden</div>
			} else
			{
				<div>Not hidden</div>
			}
		</div>
		<form asp-action="HideProfile" asp-controller="Profile" method="post">
			@if (Model.AccountHidden == true)
			{
				<input class="button-m1" type="submit" value="Make your profile visible" />
			}
			else
			{
				<input class="button-m1" type="submit" value="Hide your profile" />
			}
		</form>
		<a asp-action="LoggingHistory" asp-controller="Profile">See full logging history!</a>
		<table>
			<tr>
				@foreach (var prop in @Model.LoginHistory.FirstOrDefault().GetType().GetProperties())
				{
					<th>@prop.Name</th>
				}
			</tr>
			@foreach (var item in @Model.LoginHistory)
			{
				<tr>
					@foreach (var prop in item.GetType().GetProperties())
					{
						<td>@prop.GetValue(item)</td>
					}
				</tr>
			}
		</table>
	</div>
</div>

@section Styles {
	<link href="@Url.Content("~/css/Views/ProfileStyle.css")" rel="stylesheet" type="text/css" />
}