@model EventPlanner.Models.Profile.SettingsVM;

@{
	ViewData["Title"] = "Profile Settings";
}

<div class="profile-general-container">
	<partial name="_ProfileNavbar" />
	<div class="profile-settings-container">
		<div class="profile-general-header">
			Settings
		</div>
		<div class="profile-delete-account">
			Delete your account: 
			<a asp-action="Delete" asp-controller="Account" class="button-m0-red">Delete account</a>
		</div>
		<div class="profile-hide-profile">
			<div>
				Account status: @if (@Model.AccountHidden == true)
				{
					<div class="profile-hidden-status">Hidden</div>
				}
				else
				{
					<div class="profile-hidden-status">Not hidden</div>
				}
			</div>
			<form asp-action="HideProfile" asp-controller="Profile" method="post">
				@if (Model.AccountHidden == true)
				{
					<input class="button-m0" type="submit" value="Make your profile visible" />
				}
				else
				{
					<input class="button-m0" type="submit" value="Hide your profile" />
				}
			</form>
		</div>
		<div class="profile-login-history">
			<div class="profile-login-history-text">Login history:</div>
			<table class="fl-table">
				<thead>
					<tr>
						<th>Login time</th>
						<th>IP Address</th>
						<th>Device Information</th>
						<th>Browser</th>
						<th>Login Succeeded</th>
						<th>Failure Reason</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in @Model.LoginHistory)
					{
						<tr>
							<td>@item.LoginTime</td>
							<td>@item.IPAddress</td>
							<td>@item.DeviceInformation</td>
							<td>@item.BrowserInformation</td>
							<td>@item.LoginSuccess</td>
							<td>@item.FailureReason</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@section Styles {
	<link href="@Url.Content("~/css/Views/ProfileStyle.css")" rel="stylesheet" type="text/css" />
}